@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
html{height: 100%;}
*{margin: 0; padding: 0; font-family: 'Poppins', sans-serif;}
#mainContainer{margin: 0; padding: 0; width: 100%; height: 100%;}
.clear{clear: both;}

/* header 영역 */
header{width: 100%; height: 80px; background: #FD6A80;}
.logo{float: left; width: 20%; height: 100%;box-sizing: border-box;}
.logo a{font-size: 3em; color: #fff; text-decoration: none; margin-left: 50px; box-sizing: border-box; line-height: 80px;}
.matAlarm {height: 100%; width: 40%; overflow: hidden; position: relative; float: left;}
.matAlarm div {display: block; width: 200%; height: 100%; line-height: 80px; position: absolute; 
    overflow: hidden; animation: matAlarm 7s linear infinite;}
.matAlarm span {float: left; width: 50%; color: white}
@keyframes matAlarm {0% { left: 0; } 100% { left: -100%; }}
.login{width: 35%; height: 100%; float: right; overflow: hidden; color:white; font-size: 0px;}
.login ul {float:right}
.login ul a{text-decoration: none;}
.login .mypage{background: url("../img/white\ circle.PNG") no-repeat; width: 58px; height: 58px; margin-top: 11px;}
.login .nickname{overflow: hidden; color:white; font-size: 16px; text-decoration: none;}
.login .mailBtn{background: url("../img/mail.PNG") no-repeat; width: 58px; height: 58px; margin-top: 11px;}
.login .setting{background: url("../img/setting.PNG") no-repeat; width: 58px; height: 58px; margin-top: 11px;}
.login ul li{list-style: none; float: left; box-sizing: border-box; margin: 0px 20px; line-height: 80px;}

/* section 영역 */
section{height: 1200px; width: 100%;}


/*연락처 차단(kyouka)*/
h3{margin-top: 40px; text-align: center;}
#google, #t-tel{width: 90%; border: 1px solid #ddd; height: 100px;
                border-radius: 20px; margin: auto; margin-top: 10px; background-color: #ddd;}
#google img {float: left; border-radius: 10px;}
#t-tel img {float: left; border-radius: 70px;}
#google img, #t-tel img{margin: 25px 10px 25px 10px;}
#google p, #t-tel p{text-align: center; font-size: 20px; font-weight: 700;}
#tel_block, #TOS{width: 100%; box-sizing: border-box; height: auto;}
.tel, .TOS{width: 90%; height: 700px; border: solid 3px #FD6A80; border-radius: 20px; margin: auto;}
.tel p{line-height: 100px; margin: 0; padding: 0;}
#btn_block{padding: 10px 100px; color: #fff; font-weight: bold; background-color: #FD6A80; 
            border-radius: 20px; border: 0; outline: 0;}
.TOS_text{width: 90%; border: 1px solid #ddd; height: 120px;
    border-radius: 20px; margin: auto; margin-top: 10px; background-color: #ddd;}
    


#tabMenu input[type="radio"]{display: none;}
#tabMenu label{display: inline-block; margin: 0; padding: 15px 25px; 
    text-align: center; color: #aaa; border: 1px solid transparent;}
#tabMenu label:hover {color: #222; cursor: pointer;}
#tabMenu input:checked + label{color: #000; text-decoration: underline;}
.tabContent{display: none; padding: 20px 0 0; border-top: 1px solid #ddd;}
#contect p, #blocking p {list-style: square; margin-left: 30px; font-size: 16px; line-height: 2.5;}
#tab1:checked ~ #contect, 
#tab2:checked ~ #blocking{display: block;}
#btn_block{margin-top: 50px; margin-left: 120px;}
/* #btn_block{width: 80%; box-sizing: border-box; height: auto;} */
.chbox{float: right; margin:30px 50px 0; zoom: 1.5;}
.TOD_check{float: right; margin: -20px 50px; zoom: 1.5;}
.TOD_title{text-align: left; margin-left: 10px;}
#nezt{padding: 10px 100px; color: #fff; font-weight: bold; background-color: #FD6A80; 
    border-radius: 20px; border: 0; outline: 0;}
#next{width: 20%; padding: 10px; margin-top: 20px; float: right;
    color: #fff; font-weight: bold; background-color: #FD6A80; 
    border-radius: 50px; border: 0; outline: 0;}




/* footer 영역 */
footer{border-top:1px solid #ddd; width: 100%;}
footer .foot_list{list-style: none; margin:50px 0px 50px 30px; height: 100px; width: 100%; box-sizing: border-box;}
footer .foot_list li{float: left; margin-right: 25px; border-right:1px solid rgba(0, 0, 0, 0.2);}
footer .foot_list li:last-child{border: none;}
footer .foot_list li a{color: #000; text-decoration: none; margin-right: 25px; font-size: 0.8em; width: 100%;}

/* 태블릿 기준 */
@media all and (max-width:1191px) and (min-width:768px) {
section{height: 1700px; width: 100%;}
header .matAlarm{display: none;}
header .login{width: 70%;}
#google p, #t-tel p{text-align: center; font-size: 16px; font-weight: 700;}
#btn_block{margin-top: 50px; margin-left: 40px;}
}

/* 모바일 기준 */
@media all and (max-width:767px) {
section{height: 1700px; width: 100%;}
.logo{float: none; width: 100%; height: 100%;box-sizing: border-box; text-align: center; position: absolute;}
.logo a{font-size: 3em; color: #fff; text-decoration: none; margin:0;}
header .login{width: 30%; position: relative;}
header .matAlarm{display: none;} 
.login ul li:nth-child(2), .login ul li:nth-child(3), .login ul li:nth-child(4){display: none;}
#google p, #t-tel p{text-align: center; font-size: 15px; font-weight: 700;}
#btn_block{margin-top: 50px; margin-left: 80px;}
#next{width: 50%; margin-bottom: 10px;}

/* M_footer 영역 */
footer{border-top:1px solid #ddd; width: 100%;}
footer .foot_list{list-style: none; margin:50px 20px; /* margin-left: 10px; */ height: 100px; width: 100%; box-sizing: border-box; padding: 0;}
footer .foot_list li{float: left; margin-right: 10px; border: none;}
footer .foot_list li{border-right:1px solid rgba(0, 0, 0, 0.2);}
footer .foot_list li a{margin-right: 10px;}

}