/* 구글웹포트 (@import) 가져올때 항상 맨 위에 위치해야 적용 가능함 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
*{margin: 0; padding: 0}
#container{width: 1000px; margin: 0; auto;}
header{height: 80px; background: #006699;}
header h1{color: rgb(155, 240, 35); 
    padding: 10px 15px; font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;}
header #logo{width: 200px;float: left;}
header nav{width: 700px;float: right;}
nav ul{list-style: none; text-align: right; /*텍스트 위치*/margin-right: 100px;}
nav ul li{display: inline; line-height: 80px;margin: 10px;}
nav ul li a{color: white; text-decoration: none; /*밑줄제거*/}
nav ul li a:hover{color: rgb(155, 240, 35)}
section h1{padding: 20px;}