*{margin: 0; padding: 0;}

/* header 영역 */
header{height: 70px; background: rgb(255, 89, 114); }
#logo{width: 300px; margin: 0 50px;}
#logo a{position: absolute; top: 10px; color: #000; text-decoration: none;}

#Menu1 {position: absolute; top: 35px; right: 500px; list-style: none;}
#Menu1 #topMenu li{display: inline-block; padding: 0 100px;}
#Menu1 #topMenu li a{text-decoration: none; color: #000; font-size: 1.5em;}
#Menu1 #topMenu li a:hover{color: rgb(252, 252, 252)}
#Menu2 {position: absolute; top: 3px; right: 30px;}
#Menu2 ul li{display: inline-block; padding: 10px;}
#Menu2 ul li a{text-decoration: none; color: #fff;}
#Menu2 ul li a:hover{color: rgb(0, 0, 0); }

/* contents 영역 */
#contents {text-align: center; margin: 30px;}
#contents #part2 h2,#contents #part3 h2 {margin-top: 20px;}
#contents div{border-bottom: 1px solid #000; padding-bottom: 300px;}


/* container */


