*{margin: 0; padding: 0;}

/* header 영역 */
header{height: 70px; background: rgb(255, 89, 114); }
#logo{width: 300px; margin: 0 50px;}
#logo a{position: absolute; top: 10px; color: #000; text-decoration: none;}
nav{position: fixed; top: 35px; right: 500px;}
#topMenu li{display: inline-block;}
nav ul li:nth-child(1){color: blue;}
#topMenu li a{padding: 50px; text-decoration: none; color: #000;}
#topMenu li a:hover{color: rgb(252, 252, 252)}

#toplogin {position: fixed; top: 5px; right: 30px;}
#toplogin li{list-style: none; display: inline-block;}
#toplogin a{text-decoration: none; padding: 10px; color: rgb(255, 255, 255);}
#toplogin a:hover{color: rgb(245, 196, 140);}
/* contents 영역 */
